/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
   
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    background-image: url(imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -100px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 4px 4px 10px #020b5c, -4px -4px 10px #011e5c;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.logo {
    max-width: 180px;
    margin: 20px auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px #01037a, -4px -4px 10px #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.social-button img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.social-button:hover {
    transform: scale(1.05);
    background-color: #ececec;
}

.location {
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
}

.final {
    color: #333;
    font-size: 14px;
}
