* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    border-color:aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo do cartão */
.card {
    background-image: url('imagens/fundo.png'); /* Coloca a imagem de fundo no card */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.85); /* Cor branca semi-transparente */
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%; /* Para se ajustar ao tamanho da tela do celular */
    max-height: 600px; /* Define uma altura máxima */
    position: relative; /* Posiciona de forma relativa */

}

/* Logomarca */
.logo {
    max-width: 200px;
    margin-bottom: 20px;
    padding-top: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo dos botões */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
 
    
}

.button img{
    width: 220px;
    height: 80px;
    
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px; /* Ajuste conforme necessário */
    height: 80px; /* Ajuste conforme necessário */
    margin: 0 auto;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}

.final{
    font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}

@media (min-width: 768px) {
    body {
        background-color: #f0f0f0;
    }
    .card {
        max-width: 500px;
        padding: 30px;
    }
    .logo {
        max-width: 300px;
        padding-top: 20px;
    }
    .button img {
        width: 250px;
        height: 100px;
    }
    .final {
        font-size: 12px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
}