* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #ffffff;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Wrapper para manter o cartão centrado */
.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo do cartão */
.card {
    background-image: url('imagens/fundo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Logomarca */
.logo {
    max-width: 200px;
    margin: 20px auto;
    padding-top: 10%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botões */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Botões de WhatsApp e Facebook em uma linha */
.button-row {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 48%; /* Cada botão ocupa metade da linha */
    height: 100px;
    border-radius: 10px;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.button img {
    width: 230px;
    height: auto;
}

.button:hover {
    transform: scale(1.05);
}

/* Botão Instagram com largura total */
.instagram-button {
    width: 100%;
    height: 100px;
}

.instagram-button img {
    width: 450px; /* Aumente a largura da imagem */
    height: auto;

}
/* Localização (Iframe) */
.location {
    width: 100%;
    margin-top: 20px;
}

/* Estilo da mensagem final */
.final {
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 15px;
    color: darkblue;
}

@media (min-width: 768px) {
    body {
        background-color: #f0f0f0;
    }
    .card {
        max-width: 500px;
        padding: 30px;
    }
    .logo {
        max-width: 300px;
        padding-top: 20px;
    }
    .final {
        font-size: 12px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .button-row{
        width: auto;
    }
    .instagram-button{
        width: auto;
    }
}
